<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head></head>
  <body>
	<h3>Welcome to NSTI, Patna!!!</h3>
	<a href="/register">Register User</a>
	
	<br/><br/>
	
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Date Of Birth</th>
			<th>Mail</th>
			<th>Password</th>
			<th>Operations</th>
		</tr>
		<tr th:each="u:${data}">
			<td th:text="${u.id}"></td>
			<td th:text="${u.name}"></td>
			<td th:text="${u.dob}"></td>
			<td th:text="${u.mail}"></td>
			<td th:text="${u.passw}"></td>
			<td>
				<a th:href="@{/updateForm/{id}(id=${u.id})}">Update</a> | 
				<a th:href="@{/deleteUser/{id}(id=${u.id})}">Delete</a>
			</td>
			
		</tr>
	</table>
	</body>
	</html>