<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head></head>
  <body>
	<h1>NSTI, Patna</h1>
	
	<h3>registration Form</h3>
	
	<form method="post" action="/saveS">
		Name: <input type="text" name="name" /><br/><br/>
		Age: <input type="text" name="age" /><br/><br/>
		Date of Joining: <input type="date" name="joining" /><br/><br/>
		Mail: <input type="text" name="mail" /><br/><br/>
		Password: <input type="text" name="pssw" /><br/><br/>
		Phone: <input type="text" name="phone" /><br/><br/>
		<input type="submit" name="submit" value="register" />
	</form>
  </body>
  </html>