<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IndianCulture</title>
       
    </head>
<body>
   <section>
	<header>
	       <div class="container">
	           <div class="home_header_info">
	               <h1 class="typewrite text-white" data-period="2000"
	                   data-type='[ "Incredible!ndia", "Dekho Apna Desh!", "Explore the Indian Culture and Heritage." ]'>
	               </h1>
	               <p>India is a country dotted with stunning wildlife diversity, and rich traditions. While the Western coast greets you with mouth-watering delicacies, the East part invites you to experience its greenery.</p>
	               <a href="https://indianculture.gov.in/">Read More</a>
	           </div>
	       </div>

	       <!-- Video Background -->
	       <div class="video">
	           <video id="video" autoplay loop muted>
	               <source type="video/mp4" src="img/video.mp4" />
	           </video>
	       </div>
	   </header>

	  

    <section class="about mx-5 px-5" id="about" >
        <div class="heading">
            <h1 class="mt-5 text-primary">About India</h1>
        </div>
        <div class="content">
            <div class="contentBx w50">
                <h3>Why is India <color class="text-primary">Oldest Civilization</color> ?</h3>
                <p class="text-dark" style="text-align: justify;">According to reserch, <strong>"Cultural heritage includes: cultures, customs, beliefs, rites, rituals, ceremonies, indigenous knowledge, social customs and traditions, arts, crafts, music, political and ideological beliefs that influence culture and behavior, history , practices related to the natural environment, religious and scientific traditions,Culture is defined as "the ideas, customs and social behavior of a particular people or society". In a workplace setting, it covers how people communicate, dress, arrive at work late or on time, collaborate, and generate ideas."</strong></p>
            </div>
            <div>
                <p class="text-dark">India is one of the oldest civilizations in the world with a kaleidoscopic variety and rich cultural heritage.
                     It has achieved all-round socio-economic progress during the last 65 years of its Independence.</p>
            </div>
        </div>
    </section>  
	<section class="services mt-5" id="heritage">
	       <div class="heading white pt-4">
	           <h1 class="text-white">Indian Culture & Arts</h1>
	       </div>
	       <div class="content">
	           <div data-aos="flip-up" class="servicesBx">
	               <img src="img/art.jpg" alt="">
	               <h2 class="text-warning">Arts</h2>
	               <p class="text-white">Art has the power to engage the soul and display emotions that can't be said or written. India has been blessed with brilliant artists and art forms.</p>
	               <a href="/arts_culture/arts"><button>Read More</button></a>
	           </div>
	           <div data-aos="flip-up" class="servicesBx">
	               <img src="img/hand.jpg" alt="">
	               <h2 class="text-warning">Handicrafts</h2>
	               <p class="text-white">From time immemorial, India is known for its customs. As far as art and culture are concerned, India features amongst the topmost rated culturally rich countries in the world.</p>
	               <a href="/arts_culture/handcrafts"><button>Read More</button></a>
	           </div>
	           <div data-aos="flip-up" class="servicesBx">
	               <img src="img/festival.jpg" alt="">
	               <h2 class="text-warning">Festivals</h2>
	               <p class="text-white">India is a country of dynamic culture, and every Indian celebrates many festivals wholeheartedly throughout the year. Every festival is unique in its way.</p>
	               <a href="/arts_culture/festival"><button>Read More</button></a>
	               
	              
	           </div>
	           <div data-aos="flip-up" class="servicesBx">
	               <img src="img/dance.jpg" alt="">
	               <h2 class="text-warning">Dance</h2>
	               <p class="text-white">India has many dances, coming from every state in the country, although there are only six forms of the classical dances recognised by India on a national level. </p>
	               <a href="/arts_culture/dance"><button>Read More</button></a>
	           </div>
	       </div>
	   </section>    <section class="work mx-5 px-5" id="culture">
        <div class="heading">
            <h1 class="mt-5 mb-4 text-primary">Colours Of Culture</h1>
            <p>From splendid paintings to beautiful wood crafts and textiles, India resounds with a rich and unique culture.</p>
        </div>
        <div class="content">
            <div data-aos="flip-right" class="workBx text-dark">
                <p>The Indian culinary repertoire reflects the cultural diversity of the country. The term “Indian food” denotes a mélange of flavours from different parts of the country and showcases centuries of cultural exchange with the far corners of the world</p>
            </div>
            <div data-aos="flip-left" class="workBx text-dark">
                <p>The most important classical traditions of music in India are the Hindustani classical tradition which finds home in the northern and western parts of the country and the Carnatic classical tradition, which is practiced primarily in the southern parts of the country.</p>
            </div>
            <div data-aos="flip-right" class="workBx text-dark">
                <p>Considered to be the oldest dance and an inspiration to all other styles, Bharat Natyam, a temple dance of Tamil Nadu, is an enchanting performance that relates scenes from religious texts and myths. In a series of quick and complicated neat motions.</p>
            </div>
            <div data-aos="flip-left" data-aos-offset="100" class="workBx text-dark">
                <p>Festivals in India are a vibrant representation of the culture and ancient traditions of the country. The most prominent celebration is that of Diwali, which is popularly called the festival of lights. Like most festivals in the country, its story is rooted in myths, legends and religion.</p>
            </div>
        </div>
        <div class="heading white">
            <a href="/cities"  class="btn btn-outline-primary  fs-4">View More</a>
        </div>
    </section>
    <Section id="welcome_Sec">
        <div class="container">
            <div class="heading">
            <h1 class="mb-4 text-primary"><span>Where science meets the sacred!
            </span></h1></div>
            <p class="text-dark">Witness the grand Architecture! How about taking your kids on an exploration of India's heritage this holiday season?</p>
        </div>
    </Section>

    <Section id="slides_parent">
        <div class="container">
            <div class="slides">
                <div class="slide_1">
                    <div class="slide_info">
                        <p>Modhera Sun Temple </p>
                    </div>
                </div>
                <div class="slide_1 slide_2">
                    <div class="slide_info">
                        <p>Adi Annamalai temple</p>
                    </div>
                </div>
                <div class="slide_1 slide_3">
                    <div class="slide_info">
                        <p>Western Ghats</p>
                    </div>
                </div>
                <div class="slide_1 slide_4">
                    <div class="slide_info">
                        <p>Red Fort</p>
                    </div>
                </div>
                <div class="slide_1 slide_5">
                    <div class="slide_info">
                        <p>Chhatrapati Shivaji Terminus </p>
                    </div>
                </div>
                <div class="slide_1 slide_6">
                    <div class="slide_info">
                        <p>Bandipur National Park</p>
                    </div>
                </div>
                <div class="slide_1 slide_7">
                    <div class="slide_info">
                        <p>Ganga Aarti</p>
                    </div>
                </div>
            </div>
        </div>
    </Section>
	<section class="bg-muted">
	    <div class="container text-center">
	        <div class="heading">
	            <h1 class="mb-3 text-primary">Meet Our Team</h1>
	        </div>
	        <h4 class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, explicabo.</h4>
	        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
	            <div class="col">
	                <div class="card">
	                    <img src="img/pihu.jpg" class="card-img-top" alt="Pushpanjali Chaurasiya">
	                    <div class="card-body mt-1">
	                        <h5 class="card-title text-dark">Pushpanjali Chaurasiya</h5>
	                        <p class="card-text text-dark">Full Stack Developer</p>
	                    </div>
	                    <div class="d-flex justify-content-evenly p-4">
	                        <i class="bi bi-linkedin"></i>
	                        <i class="bi bi-envelope-fill"></i>
	                        <i class="bi bi-whatsapp"></i>
	                    </div>
	                </div>
	            </div>
	            <div class="col">
	                <div class="card">
	                    <img src="img/Trapti1.jpg" class="card-img-top" alt="Trapti">
	                    <div class="card-body mt-1">
	                        <h5 class="card-title text-dark">Trapti</h5>
	                        <p class="card-text text-dark">Full Stack Developer</p>
	                    </div>
	                    <div class="d-flex justify-content-evenly p-4">
	                        <i class="bi bi-linkedin"></i>
	                        <i class="bi bi-envelope-fill"></i>
	                        <i class="bi bi-whatsapp"></i>
	                    </div>
	                </div>
	            </div>
	            <div class="col">
	                <div class="card">
	                    <img src="img/anu.jpg" class="card-img-top" alt="Annapurna Rawat">
	                    <div class="card-body mt-1">
	                        <h5 class="card-title text-dark">Annapurna Rawat</h5>
	                        <p class="card-text text-dark">Full Stack Developer</p>
	                    </div>
	                    <div class="d-flex justify-content-evenly p-4">
	                        <i class="bi bi-linkedin"></i>
	                        <i class="bi bi-envelope-fill"></i>
	                        <i class="bi bi-whatsapp"></i>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>  
</section>
       </body>

</html>
