<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<h1> Data</h1>
	
	<a href="/show">Display Data</a>
	
	
	<form method="post" action="/upload" enctype="multipart/form-data">
		ID : <input type= "text" name="id" /><br/><br/>
		Name: <input type="text" name="name" /><br/><br/>
		Name: <input type="text" name="city" /><br/><br/>
		Name: <input type="text" name="mail" /><br/><br/>
		Image: <input type="file" name="file" /><br/><br/>
		<input type="submit" value="register" />
	</form>
	
	
</body>
</html>