<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page Title</title>
</head>
<body>

<h1>Registration Form</h1><br/><br/>
<form action="register">
	Name: <input type="text" name = "name" /><br/><br/>
	Mail: <input type="text" name = "mail" /><br/><br/>
	City: <input type="text" name = "city" /><br/><br/>
	Phone: <input type="text" name = "phone" /><br/><br/>
	Age: <input type="text" name = "age" /><br/><br/>
	<input type="submit" name = "register" value="register" />
</form>

</body>
</html>