<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add New User</title>
</head>
<body>
<h2>Add New User</h2>
<form th:action="@{/saveUser}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br>
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" th:field="*{dob}" /><br>
    <input type="submit" value="Save">
</form>
<a href="/">Back</a>
</body>
</html>
