<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian culture Festival</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/arts_culture/styles.css" />
</head>
<body>
    <div class="hero-container">
        <img src="https://static.toiimg.com/photo/msid-80334120,width-96,height-65.cms" alt="Handicrafts of India" class="hero-image">
        <div class="hero-text">
            <h1>10 Festivals in North India: Cultural Indian Festivals</h1>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <h2 class="mb-5">1. Kumbh Mela</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/f1.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>  Kumbh Mela is the biggest fair in India. It takes place every 12 years in four cities - Prayagraj (Allahabad), Haridwar, Ujjain and Nashik. The Kumbh Mela in Prayag being the major one is celebrated on a vast scale. Pilgrims from all over the country gather and pay homage to river Ganga. They take dips in the holy water to wash away their sins. Since this festival is celebrated only in 12 years, the government spends generously on the stalls, poojas, kirtans and pilgrimage facilities.<br>Where: Allahabad, Uttar Pradesh<br>
                        When:
                        Haridwar: March - April<br>
                        Allahabad: January - February<br>
                        Ujjain: April - May<br>
                        Nashik: August - September<br>
                        Upcoming dates: 2022 (Haridwar)</p>

                </div>
            </div>
        </div>
        <div class="section">
            <h2>2. Pushkar Mela</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>Pushkar Mela is one of the most vibrant festivals in north India. It is celebrated extravagantly at the end of October or beginning of November, in Pushkar, Rajasthan. During this fair, pilgrims come to Pushkar from all over the country and worship Pushkar Lake. Apart from this, cattle races are held, and cattle trades take place. Various entertaining competitions such a biggest moustache challenge, bridal makeup challenge, etc. are conducted. Stall selling handicrafts like jewellery, fabrics, artefacts are set up in the area, which attracts a lot of buyers.<br>
                        Where: Pushkar, Rajasthan<br>
                        When: October - November<br>
                        Upcoming dates: 1st - 8th<br> November 2023</p>
                </div>
                <div class="flex-item">
                    <img src="img/f2.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>3. Desert Festival</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/f3.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>Desert Festival is celebrated with pomp and show in Jaisalmer, Rajasthan and is one of the popular festivals of North India. This festival is characterized by camel shows and races that take place in the dunes of the area. The locals dress their best, the city looks colourful, and the vibrancy is unmatched. Tourists from all over the world visit Jaisalmer during this time to make the best of the culture and fair.<br>Where: Jaisalmer, Rajasthan<br>
                        When: February<br>
                        Upcoming Dates: 3rd - 5th <br>February 2023</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>4. Rann Utsav</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>Rann Utsav takes place in the white sand of the Rann of Kutch in Gujarat every year from November to February. During this period, tents are set up, and the region is made in traditional Gujarati style. Educational programmes including folk dances, skits and others are displayed every evening, followed by bonfire night and lavish dining. Rann Utsav is one of the most vibrant festivals in India, which attracts numerous visitors from across the globe and displays the finest traditions of the state.<br>
                        Where: Bhuj, Gujarat<br>
                        When: November - February<br>
                        Upcoming dates: 26th October<br> 2022 to 20th February 2023</p>
                </div>
                <div class="flex-item">
                    <img src="img/f4.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>5. Phulaich Festival</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/f5.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>Phulaich Festival is one of the most popular festivals in North India, celebrated in Kinnaur district of Himachal Pradesh, to commemorate the deceased. Phulaich, also known as Ookayang (oo: flower, Kayang: festival), is celebrated on the 16th day of Bhadrapada month (September - November). On this day, 10 Rajput men climb up the hill and pluck flowers that have just bloomed and their journey celebrated with drums and dances. When they return, the villagers dance joyfully and enact war scenes in memory of their ancestors. They decorate deities in beautiful ornaments and arrange for a procession. Wine, rice and other nourishment to the deceased, only to later distribute amongst the poor and sacrifices of animals are also done to please the Gods.<br>
                        Where: Kinnaur, Himachal Pradesh<br>
                        When: September - November<br>
                        Upcoming dates: TBA 2023</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>6. Mata Murti Ka Mela</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>Mata Murti ka mela is a pompous North Indian religious festival held in Badrinath, Uttar Pradesh. On this day Mata Murti, the mother of Badrinath, is worshipped zealously. The prayers include Maha Abhishek (holy bath), in the morning readings are done of Geeta Paths (chapters from Bhagwad Geeta), and the aarti takes place in the evening. After the pooja, sandalwood paste is applied to the idol. The villagers install colourful stalls and participate proactively in the fair. This festival is celebrated to honour River Ganga, which is supposed to have been gifted to earth by heaven on this day.<br>
                        Where: Badrinath, Uttarakhand<br>
                        When: September</p>
                </div>
                <div class="flex-item">
                    <img src="img/f6.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>7. Magh Mela</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/f7.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>Magh Mela is celebrated during Makar Sankranti (14th January) at the Triveni Sangam in Prayag, near Allahabad in Uttar Pradesh. This festival in north India is celebrated to honour the origin of the world, which is said to have taken place around this time. During this month, pilgrims from all around the country gather at Prayag and pray for a month. They take holy dips in the sacred river to wash away their troubles and attain detachment from worldly pleasures and bonds. <br>
                        Where: Allahabad, Uttar Pradesh<br>
                        When: January - February<br>
                        Upcoming dates: 14th January<br> onwards, every year</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>8.  Taj Mahotsav</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>
                        Taj Mahotsav is celebrated from 18th to 27th February every year in Agra, Uttar Pradesh. Agra, as we all know, is home to the global heritage site, Taj Mahal. Taj Mahotsav begins with a grand procession that takes place from the east gate of the Taj, during which elephants and camels are decorated in a way that the warriors in the past would celebrate the triumph. During this festival, 400 artists selected from across India display their art.<br>
                        Where: Agra, Uttar Pradesh<br>
                        When: February<br>
                        Upcoming dates: 18th - 27th February 2023
                     </p>
                </div>
                <div class="flex-item">
                    <img src="img/f8.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>9. Nagaur Fair</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/f9.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>
                        Nagaur Fair is essentially a trade market set up for four days any time in January or February, in Jodhpur, Rajasthan. It is the second-largest fair in India. During this fair, cattle and their owners deck up and gather together. Cattle races and competitions take place, and trading of other products, such as spices also takes place during this event.<br>
                        Where: Jodhpur, Rajasthan<br>
                        When: January - February<br>
                        Upcoming dates: 27th January - 30th January
                     </p>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>
