<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Handicrafts</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/arts_culture/styles.css" />
</head>
<body>
    <div class="hero-container">
        <img src="https://5.imimg.com/data5/SELLER/Default/2023/10/351381807/ZM/TO/RZ/199712103/handicrafts-500x500.png" alt="Handicrafts of India" class="hero-image">
        <div class="hero-text">
            <h1>Handicrafts & Art of India</h1>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <h2 class="mb-5">1. Pashmina Shawls</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/1.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>  Pashmina is a fine type of wool. Its textiles are first woven in <mark>Kashmir</mark>. These shawls are made from a fine type of cashmere wool and are then transported to the valley of Kashmir in northern India, where it is entirely hand processed. All steps from combing and spinning, to weaving and finishing, is entirely carried out by hand by dedicated craftsmen and women. The major centre of Pashmina fabric production is the old <mark>district of Srinagar</mark>. The approximate craft time put into producing a single Pashmina shawl is 180 hours. They come in beautiful vibrant colours and have exquisite embroidery on them and at the same time can keep you warm and are also known for their softness. </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>2. Woodwork</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>The northern states of India have a rich tradition of the woodwork. Regions in <span class="highlight">Punjab</span> are famous for its exquisite wooden furniture. Kashmir is famous for its artefacts made from the walnut trees. The artisans of <span class="highlight">Chhattisgarh</span> specialise in wooden crafts like masks, doors, window frames and sculptures. <span class="highlight">Jharkhand</span> is famous for its wooden toys which are always in a pair. The woodcarvings of <span class="highlight">Goa</span> are an aesthetic blend of Portuguese and Indian cultures, and the designs are primarily floral, animal and human figures.</p>
                </div>
                <div class="flex-item">
                    <img src="img/2.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>3. Pottery</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/3.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>Pottery is considered to be the most sensual form of all arts. The tradition of handmade pottery is prevailing in India since the time of Harappan Civilisation. North India is also known for various kinds of pottery designs, ranging from colours like orange, brown and light red in <mark>Uttar Pradesh</mark>to black and dark red in <mark>Himachal Pradesh</mark>. In <mark>Rajasthan, Bikaner </mark>is famous for its painted pottery, Pokhran for its pottery with geometrical patterns and <mark>Alwar</mark> for its Kagzi pottery. The blue pottery of <mark>Jaipur</mark> is also very famous. The potter occupies a unique position in the craft traditions of India.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>4. Leather</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>TThe age-old convention of leather skill in India is proved by ancient sages and ascetics. In the past, leather was not only used in making clothes and footwear but also in making caps, bags, saddles, shield etc. India is famous worldwide for its leather products. <mark>Madhya Pradesh</mark> is also known for its leathercraft. Various leather items are produced like shoes, bags and garments. <mark>Maharashtra</mark> is also famous for its leather shoes called Kolhapuri chappals.</p>
                </div>
                <div class="flex-item">
                    <img src="img/4.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>5. Jute</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/5.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>Jute craftsmen have created a worldwide position in the field of jute handicrafts. The huge range of jute crafts includes bags, office stationeries, bangles and other jewellery, footwear, wall-hangings and many more. India is a centre for jute handicrafts and people all over from the globe visit the jute handicrafts fairs to buy these works of perfection. <mark>West Bengal, Assam and Bihar</mark>, being the leading jute producers, pilot the jute handicrafts market in India.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>6. Shell</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>There are three kinds of shell from which shell handicrafts are made in India - conch shells, tortoiseshell and seashell. Different kinds of goods like bangles, forks, decorative bowls, lockets, curtains, chandeliers, mirror frames, table mats, etc. are the products of shell handicrafts. In general, the places located on the seashore like <mark>Gulf of Mannar</mark>, Goa, <mark>Odisha</mark>, etc. are the places for shell handicraft and these art pieces are found in abundance here at a lower price.</p>
                </div>
                <div class="flex-item">
                    <img src="img/6.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>7. Brass Handicrafts</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/7.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>Brass is known for its durability, and this feature adds to its advantage when used as handicrafts. Different items made of brass like Lord Ganesha's figure in different postures, vases, tabletops, perforated lamps, ornament boxes, wine glasses, and many more are widely used in many Indian houses even today. These artisans dealing with brass handicrafts are distinctively known as "Kansaris". The manufacturing of brass handicrafts is mainly done in <mark>Rajasthan</mark>.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>8. Bamboo Handicrafts</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>
                        Handicrafts that are made by using bamboo are the most eco-friendly crafts made in India. The diverse items made from bamboo are baskets, dolls, toys, furniture, mats, wall-hangings, crossbows, jewellery boxes and many more. Bamboo handicrafts are predominantly prepared in <mark>West Bengal, Assam and Tripura</mark>.<br>
                        On the whole; we can see that each region of India is endowed with unique handicraft that adds charm to the state and the country as a whole. The tradition of craft has evolved through generations, and there is a quest for innovation and invention that continues to give each craft a contemporary look but at the same time preserving the Indian heritage and culture.
                     </p>
                </div>
                <div class="flex-item">
                    <img src="img/8.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>9. Phulkaris</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/9.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>
                        Phulkari embroidery technique from the Punjab region and <mark>Haryana</mark> literally means flower work, which was at one time used as the word for embroidery, but in time the word 'Phulkari' became restricted to embroidered shawls and head scarfs. It is a kind of embroidery that has complex designs made through vertical, horizontal and diagonal stitches, this whole work is done with white or yellow silk floss on cotton khaddarh and starts from the centre on the fabric called "chashm-e-bulbul" and spreads to the whole fabric. They are bright and colourful. Some modern fashion designers are incorporating this embroidery into their garments, and its use has spread to jackets, bags, cushion covers, table-mats, shoes, slipper, juttis, and kids? garments.
                     </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>10. Zardozi</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>
                        Zardozi embroidery work involves making elaborate designs, using gold and silver threads along with studded pearls and precious stones. Intricate designs in gold are made of silk, velvet and even tissue materials famous in the state of Uttar Pradesh. Initially, the embroidery was done with pure silver wires and real gold leaves. However, today, craftsmen make use of a combination of copper wire, with a golden or silver polish, and a silk thread. This embroidery work is mainly a speciality of <mark>Lucknow, Bhopal, Hyderabad, Delhi, Agra, Mumbai, Ajmer and Chennai</mark>.
                     </p>
                </div>
                <div class="flex-item">
                    <img src="img/10.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>11. Saris and Silk</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/11.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>
                        Saree or saris is a cloth of around 4.5 metres to 8 meters that women wrap around the waist and drape one end over the shoulder. The east of India is also famous for its silk saris, namely the Baluchari saris of West Bengal and Mooga and Assam silk of Assam. Their saris come in various colours and look very rich and magnificent. Banarasi sarees are among the finest sarees in India and are known for their gold and silver brocade or zari, fine silk and opulent embroidery.<br>
                        Weaving saris is a household tradition in rural South India. Tamil Nadu is famous for the <mark>Kanchipuram saris</mark>.The traditional Kanchipuram saris have been given a modern look with fewer motifs and by introducing new colours. Andhra Pradesh is known for cotton saris with rich golden borders and heavy pallus in Gadwal and Kothakota. In Karnataka, cotton saris are made of dark earthy colours
                     </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>12. Carpet Weaving</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>
                        Carpet weaving is also an important craft in North India. Uttar Pradesh has the largest carpet weaving industries in the country, and the carpets are incredibly beautiful with designs such as the <mark>Taj Mahal</mark> woven on them. More than 500 carpet manufacturing factories spotted the city of Bidohi, which made the city home to the leading hand-knotted carpet weaving industry hubs in South Asia. Also, <mark>Jammu</mark> and Kashmir is known for the silk carpets, which are mostly woven in Srinagar.
                     </p>
                </div>
                <div class="flex-item">
                    <img src="img/12.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>13. Kalam paintings</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/13.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>
                        Exclusive styles of Indian art, travellers visiting the state know <mark>Bihar</mark> for its Kalam paintings that are a coveted item to add to your home. Apart from this, Madhubani painting practised in the Mithila region of Bihar is also a very sought after souvenir by tourists. Making these paintings unique is the method used by artisans to craft them. They use fingers, twigs, brushes, nib-pens, and matchsticks, and natural dyes and pigments characterized by eye-catching geometrical patterns. to add intricate details to their artwork. 
                     </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>14. Bamboo handicraft</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>
                        If you love collecting traditional wood and bamboo artefacts, then <mark>Arunachal Pradesh</mark> is the place to be. Encompassed with vast and lush green forests, this state has no dearth of raw materials. Skilled artisans put good use to the readily available wood and bamboo by craving out beautiful masks, baskets and ornaments that draw tourists from across the globe.
                     </p>
                </div>
                <div class="flex-item">
                    <img src="img/14.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>15. Mirror work textiles</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/15.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>
                        Modern India's hub for textiles, <mark>Gujarat</mark> is known for its colourful fabrics, eye-catching designs, and intricate glasswork. If you are visiting the state, the vibrant mirror work cushions covers; applique bedcovers, embellished door hangings, and jewellery boxes will allure to buy it all. A fascinating state with talented artisans creating enchanting souvenirs is sure to leave your wallet lighter than before!
                     </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>16. Kathakali Masks</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>
                        A simple yet culturally rich state of India, <mark>Kerala</mark> is famous for its Kathakali masks made from paper mache and adorned with gold, silver, and other embellishments. The striking colours used on the masks make them lifelike and cherishable souvenirs for tourists who are looking to collect traditional artefacts from across cultures. Apart from the masks, this state also offers small showpieces that are a representation of their lifestyle. Small depictions of their culture like an Aranmula Kannadi (mirrors), Nilavilakku (lamps) and Chundam Vallam (snake boats) are some of the most bought souvenirs among tourists visiting the region.
                     </p>
                </div>
                <div class="flex-item">
                    <img src="img/16.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2>17. Mysore silk sarees from Karnataka</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/17.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>
                        Travellers visiting this area of the country often indulge in the famous Bidri metal showpieces, unique Mysore silk sarees, and sandalwood artefacts. The muted fragrance of the sandalwood and intricate carvings make these artefacts a tourist collectable. The silk sarees are also popular gifting items purchased from the region because of its ingenious designs, soft texture, and distinctive fabric.
                     </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>18. Phulkari dupatta</h2>
            <div class="flex-container">
                <div class="flex-item">
                    <p>
                        <mark>Punjab</mark> is known for its beautiful agrarian culture and traditional 'Phulkari' embroidery, which literally means flower embroidery. You can buy anything Phulkari adorned, be it a kurta, jacket, dupatta or even intricate sarees. These beautiful and eye-catching embellished attires are available in vibrant colours that appeal to travellers of all ages. A must buy if you are paying a visit to the land of five rivers.
                     </p>
                </div>
                <div class="flex-item">
                    <img src="img/18.jpg" alt="Woodwork image">
                </div>
            </div>
        </div>
        <div class="section">
            <h2 class="mb-3">19. Cane mats </h2>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="img/19.jpg" alt="Pottery image">
                </div>
                <div class="flex-item">
                    <p>
                        India's diverse culture is what makes the country so beautiful and exciting. <mark>Meghalaya</mark>, like its sister states, may not be shopping heaven, but they have one of a kind items available nowhere else in the country. Making their art more desirable than ever, Meghalaya's cane mats, known as Tlieng, are sturdy and comfortable. The state is also famous for their Ryndiah silk shawl made of silk, which is obtained through a completely organic process. These hand-woven shawls become softer after a continuous usage other than fading away.
                     </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
